<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcby.personalmanagement.base.mapper.RoleBusinessMapper">

    <!--定义接口方法对应的 SQL 语句-->

    <delete id="deleteByRoleId" parameterType="java.lang.Long">
        delete from sys_role_business
        where role_id = #{id};
    </delete>

    <delete id="bactchDeleteByRoleIds" parameterType="java.util.List">
        DELETE FROM sys_role_business
        WHERE role_id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>
